@mixin flexAlign($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin cardMix($bgColor, $margin, $shadow, $padding) {
  background-color: $bgColor;
  border-radius: 10px;
  margin: $margin;
  padding: $padding;
  color: #ffffff;
  text-align: center;
  box-shadow: $shadow;
}