@media only screen and (max-width: 990px) {

    body {
        background: url('../img/bg-intro-mobile.png') no-repeat;
        height: 100vh;
    }

    .main {
        width: 100vw;
        text-align: center;
    }

    .rightside {
        &_card-price {
            &--text {
                margin: auto;
            }
        }
    }

    .leftside {
        &--text {
            padding: 15px 0;
            width: 90%;
        }
        &--slogan {
            margin-top: 2.5rem;
            width: 90%;
        }
    }

    .form {
        padding: 20px;
        &_terms {
            margin: 15px auto;
            width: 240px;
        }
    }

}