@media only screen and (min-width: 480px) {
    body {
        width: 100%;
        background: url('../img/bg-intro-desktop.png') no-repeat;
        background-color: #ff7a7a;
        background-size: cover;
        height: 100%;
    }

    .main_container {
        height: 100%;
        font-family: $font;
        .columns {
            height: inherit;
        }
        .slogan_text {
            @include flexAlign(center, center);
            .slogan {
                color: #ffffff;
                font-family: $font;
                font-weight: 700;
                font-size: $bodyFontSize + 8px;
                padding-left: 20%;
                h1 { line-height: 1.2em; margin-bottom: 10px; }
            }
            .text {
                color: #ffffff;
                font-family: $font;
                padding-left: 20%;
            }
        }
        .card_form {
            @include flexAlign(center, center);
            .card_price {
                @include cardMix(#5d54a3, 0, $boxShadow, 0 0);
                width: 75%;
                .text p span {
                    font-weight: 700;
                }
            }
            .form {
                background: #ffffff;
                margin: $minMarginFix;
                border-radius: $formBorderRadius;
                box-shadow: $boxShadow;
                width: 75%;
                form {
                    padding: 20px 30px;
                    input[type="text"], input[type="password"], input[type="email"] {
                        padding: 12px 20px;
                        width: 100%;
                        height: 55px;
                        margin: 8px 0;
                        font-family: inherit;
                        font-weight: 700;
                        border-radius: $formBorderRadius - .1rem;
                        border: 1px solid rgba(204, 204, 204, 0.6);
                    }
                    input[type="submit"] {
                        text-transform: uppercase;
                        background: $primaryGreen;
                        width: 99%;
                        height: 50px;
                        border-radius: $formBorderRadius - .1rem;
                        color: #ffffff;
                        font-family: inherit;
                        font-weight: 600;
                        letter-spacing: 1pt;
                        font-size: $bodyFontSize - 1px;
                        border: none;
                        box-shadow: $btnShadow;
                        margin-top: 6px;
                        cursor: pointer;
                    }
                    p.terms {
                        font-size: $bodyFontSize - 5px;
                        color: $neutralGrayBlue;
                        margin: 15px 0;
                        text-align: center;
                        a {
                            text-decoration: none;
                            color: $primaryRed;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}